<!DOCTYPE html>
<html>
  <head>
    <title>Pitch-Predict - {{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic"/>
  </head>
  <body>
    <nav>
      <a href="/" class="brand"><span>Pitch-Predict</span></a>

      <!-- responsive-->
      <input id="bmenub" type="checkbox" class="show">
      <label for="bmenub" class="burger pseudo button">Menu</label>
      
      <div class="menu">
        <a href="/predict" class="button warning">Predict a Pitch</a>
      </div>

    </nav>


  </body>
</html>


<input id="bmenub" type="checkbox" class="show">
<label for="bmenub" class="burger pseudo button">Menu</label>
